<main id="New-Rushee">

    <h1>Add a Rushee</h1>

    <div id="Container">
        <section id="new-rushee-form">

            <%= form_for(@rushee) do |f| %>
                <% if @rushee.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@rushee.errors.count, "error") %> prohibited this rushee from being saved:</h2>

                        <ul>
                            <% @rushee.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div id="new-rushee-quick-info">
                    <div class="new-rushee-input-item">
                        <i class="fa fa-user"></i>
                        <%= f.text_field :name, :id=>"name", :placeholder => "Name" %>
                        <div class="form-border"></div>
                    </div>

                    <div class="new-rushee-input-item">
                        <i class="fa fa-clock-o"></i>
                        <%= f.text_field :age, :id=>"age", :placeholder => "Age" %>
                        <div class="form-border"></div>
                    </div>
                    <div class="new-rushee-input-item">
                         <i class="fa fa-graduation-cap"> 
                        </i><%= f.text_field :major, :id=>"major", :placeholder => "Major" %>
                        <div class="form-border"></div>
                    </div>
                    <div class="new-rushee-input-item">
                        <i class="fa fa-home"> 
                        </i><%= f.text_field :hometown, :id=>"hometown", :placeholder => "Hometown" %>
                        <div class="form-border"></div>
                    </div>
                    
                    <div class="new-rushee-input-item">
                        <i class="fa fa-facebook"></i>
                        <%= f.text_field :fb, :id=>"facebook-link", :placeholder => "Link to Facebook" %>
                        <div class="form-border"></div>
                    </div>

                    <div class="new-rushee-input-item">
                        <i class="fa fa-list"></i>
                        <%= f.text_area :campus_involvement, :id=>"campus-involvement", :placeholder => "Campus Involvement" %>
                    </div>

                        <%= f.label "Legacy?" %>
                        <%= f.check_box :legacy, :id=>"legacy" %>
                </div>
                
                <div id="new-rushee-rushee-summary">
                    <i class="fa fa-info"></i><%= f.text_area :bio, :placeholder => "Rushee summary" %>
                   
                    <i class="fa fa-camera"></i>
                   <!--  <%= f.label :image %> -->
                    <%= f.file_field :image, :placeholder => "SDF" %>

                    <%= f.submit :id=>"new-rushee-submit" %>
                </div>
            
                
                
            <% end %>

        </section>

    </div>

</main>